PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres.xxxx
DB_PASS=yourpassword
DB_NAME=yourdbname
DB_SSLMODE=disable
JWT_SECRET=yourrandomsecretkey
MAILJET_API_KEY=
MAILJET_SECRET_KEY=
MAILJET_SENDER_EMAIL=
MAILJET_SENDER_NAME=Bank Sampah & Donasi
MAILJET_BASE_URL=https://api.mailjet.com/v3.1/send
JWT_EXPIRY_HOURS=24
BACKUP_DIR=backup
BACKUP_KEEP=30